@charset "UTF-8";

#activePage{
    background-color: white;
     text-align: center;
    font-family: 'Fira Sans Extra Condensed', sans-serif;

}

.mainLogo {
   /*The image used */
  background-image: url("../Images/hadnshake_Teamwork.png");

  height: 480px;

   /*Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 800px;

   /*Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
#navBar {
    position: absolute;
    margin: 20px;
    width: auto;
    font-size: 25px;
}

h1, h2{
    font-size: 40px;
}

li a:hover {
  background-color: #555;
  color: green;
}

/*Carousel*/
.item{
    width: 50%; 
    margin: auto; 
}

.instructions{
    display: block;
    margin-left: auto;
    margin-right:auto;
    text-align:center;
}

#loginBox{
    color: black !important;
}

.bg
{
  width: 100%;
  height:255px;
  z-index: 0;
}

footer, #hr_footer, #csumb{
    color: black;
    font-size:12px;
    clear: left;
    text-align: center;
}
#hr_footer{
    width:25%;
}

/* Text body of index.php*/
.media-body{
    background: rgb(242,243,245);
}
.text-body{
    font-size:20px;
    text-align: center;
    padding-right: 200px;
    padding-left: 200px;
}

.media-heading{
    text-align: center;
    font-size: 35px;
}
h5{
    text-align: center;
    font-size: 15px;
}

/*/Results Tables*/
.tableInput {
    display: inline-block;
    text-align: center;
    font-size: 20px;
}

.resultsDiv {
    display: inline-block;
    padding: 10px;
    text-align: inherit;
}

.resultsTbl {
    display: inline-block;
    text-align: center;
}

.resultsTh {
    font-weight: bold;
    padding: 10px;
    text-align: Left;
    border: 1px solid #ccc;
}
.resultsThRight {
    font-weight: bold;
    padding: 10px;
    text-align: Right;
    border: 1px solid #ccc;
}

.resultsTdLeft {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

.resultsTdRight {
    padding: 10px;
    text-align: right;
}

.inputHeading {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.tdRightAlign {
    text-align: right;
    border: 1px solid rgb(109, 109, 105);
}

.tdLeftAlign {
    text-align: left;
    border: 1px solid rgb(109, 109, 105);
}

.search {
    margin: 10px;
    border: 1px solid #ccc;
    width: 200px;
}

/*Accordion Styling*/
.accordion {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  transition: 0.4s;
  font-size: 25px;
}

.active, .open, .accordion:hover {
  background-color: rgb(245, 208, 74);
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  text-align: center;
}

.fixedheader {
    background-color: rgb(245, 208, 74);
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  transition: 0.4s;
  font-size: 25px;
}
.fixedpanel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  text-align: center;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 15px;
  font-weight: normal;
  color: #777;
  float: right;
  margin-left: 5px;
}

.open:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

#userLogin, #createUser{
    text-align: center;
}

th, td {
  padding: 15px;
}

.biotable, .skillstable{
    margin-left:auto; 
    margin-right:auto; 
    font-size:20px; 
    table-layout: auto;
}

.description{
    font-size: 20px;
<<<<<<< HEAD
}





=======
}
>>>>>>> b4d6f04847c5d68a969352113bcad1f607718c90
